@import "tailwindcss";

html, body {  
  background-color: #343541 !important;
  color: #ECECF1 !important;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, 
               "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
