@import "tailwindcss";

html, body {  
  background-color: #212121 !important;
  color: #ECECF1 !important;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, 
               "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.cursor {
  display: inline-block;
  margin-left: 2px;
  animation: blink 1s infinite;
}
